*{
    margin:0;
    font-family: 'Open Sans', sans-serif;;

}
.btn-primary{
    background-color: #fd6e0a;
    color: white;
    font-weight: 700;
    font-size: 20px;
    height: 67px;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;

}
/* header  */
.header{
    background-color: white;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;

}
nav{
    display: flex;
    justify-content:space-between;
    margin: 50px 200px;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #fd6e0a;

}
nav li{

    list-style:none ;
    margin-left: 50px;

}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-tittle{
    font-size: 45px;
    font-weight: 700;

}
.banner-subtittle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;

}
.banner-para{
    color:gray;
    font-size: 18px;
    margin-bottom: 30px;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;


}
.section-tittle{
    
    font-size: 35px;
    margin-bottom: 30px;

}
.sec-pera{
    color:grey;
    margin-bottom: 30px;
    font-size: 18px;


}
.about-info-container{
    display: flex;
    justify-content:space-around ;
}
.about .info-title{
    font-size: 20px;
    color: grey;
}
.info-desc{
    font-weight: 700;
    font-size: 20px;
    color: rgb(34, 33, 33);



}